.forms {
    background-color: #ffd600;
    padding: 50px 0;
}
.froms__box {
}
.text-center {
    font-weight: 700;
}
.btnLink2 {
    background-color: #000;
    color: #fff;
    margin-left: 16px;
    padding: 7px 25px;
    transition: all .3s;
    &:hover {
        color: #fff;
        background-color: rgb(54, 51, 51);
    }
}